.cabeçalho{
    background-color: gray;
}
.menu{
    background-color: black;
    color:aliceblue;
}
.conteudo{
    background-color: aquamarine;
}
.barralateraldireita{
    background-color: gray;
}
.rodape{
    background-color: black;
    color :whitesmoke;
}