<h1>Aluno</h1>
<form class="form" action="/alunos/updatebook" method="POST">
<input type="hidden" name="id" value="{{aluno.id}}">
<div class="form-control">
    <label for="title">Nome:</label>
    <input type="text" name="nome" placeholder="nome do aluno" value="{{aluno.nome}}">
</div>
<div class="form-control">
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="sobrenome" placeholder="sobrenome" value="{{aluno.sobrenome}}">
    <label for="nota1">Nota1:</label>
    <input type="number" name="nota1" placeholder="nota1" value="{{aluno.nota1}}">
    <label for="nota2">Nota2:</label>
    <input type="number" name="nota2" placeholder="nota2" value="{{aluno.nota2}}">
    <label for="nota3">Nota1:</label>
    <input type="number" name="nota3" placeholder="nota3" value="{{aluno.nota3}}">
</div>
<input class="button-30" type="submit" value="Editar">
</form>